# Use Delta for diffing
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
	branch = false
[interactive]
    diffFilter = delta --color-only --features=interactive
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
    # Use `git b` for a fancy branch switcher
    # Requires `fzf` to be installed
    b = "!f() { git checkout $(git for-each-ref --color=always --sort=-committerdate refs/heads/ --format='%(color:bold)%(HEAD)%(color:reset) %(color:blue)%(refname:short)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset)) %(contents:subject)' | fzf --ansi --preview=\"echo {} | cut -c 3- | cut -d ' ' -f1 | xargs git log --color=always\" | cut -c 3- | cut -d ' ' -f 1); }; f"
